{% extends 'cofy/base.html' %}
{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'cofy/about.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block title %}Team Bear Paws{% endblock %}
{% block content %}

<div class="jumbotron"><h1>Meet the Team</h1>
    <p>Team Bear Paws @ CODE2015</p>
</div>
<div class="container">
        <h3>Supreme Leader David Kim Jong Baik</h3>
        <ul>
                <li>Bio: Trained in the unforgiving environment of Best Korea as a spy</li>
                <li>Education: Software System Student at SFU</li>
                <li>Favourite Bear Paws flavour: KIMCHI!</li>
		<li>Side note: Chief Engineer of the CODE 2015 Vancouver Hot Air Balloon</li>
		<a href="https://twitter.com/dbaik" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @dbaik</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </ul>

        <h3>Jonathan NiggardLee the 29th</h3>
        <ul>
                <li>Bio: Internationally recognized as Dark Magician in the art of BootStrap</li>
                <li>Education: Computing Science Student at SFU</li>
                <li>Favourite Bear Paws flavour: CHOCOLATE!</li>
        </ul>

        <h3>Swagmaster Ian Fong</h3>
        <ul>
                <li>Bio: BAKING SODA! I GOT BAKING SODA!</li>
                <li>Education: Software System Student at SFU</li>
                <li>Favourite Bear Paws flavour: BANANA!</li>
		<li>R&D Manager for the CODE 2015 Vancouver Hot Air Balloon Hydraulics Power System</li> 
		<a href="https://twitter.com/piggybomb" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @piggybomb</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </ul>

        <h3>Adorable Adorrius (Adrian Dorrius)</h3>
        <ul>
                <li>Bio: Best cache NA, Make it rain errday</li>
                <li>Education: Computing Science Student at SFU</li>
                <li>Favourite Bear Paws flavour: BROWNIE!</li>
		<a href="https://twitter.com/adriandorrius" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @adriandorrius</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </ul>
</div>
{% endblock %}
