{% extends 'cofy/base.html' %}
{% load staticfiles %}
{% block head %}
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cofy/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block title %}COFY{% endblock %}

{% block content %}

<div class="jumbotron">
</div>

<div class="container">
  <a href="/joblist" class="btn btn-primary btn-lg btn-block">Start <span class="glyphicon glyphicon-play"></span></a>
</div>

{% endblock %}
