{% extends 'cofy/base.html' %}
{% load static %}

{% block title %}{{ og.occupational_grouping }}{% endblock %}

{% block cssfiles %}<link href="{% static 'cofy/css/job.css' %}"  rel="stylesheet">{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>{{ og.occupational_grouping }}</h1>
</div>
<em>All the following data is in the thousands, e.g 0.8 is equal to 800</em>
<div class="container-fluid">
        <div class="row"> 
                <div class="col-md-6">
                        <h2>Summary of projections</h2>
                        <table class="table table-hover">
                                <tr>
                                <td>
                                        Employment in 2012
                                </td>
                                <td>
                                        {{ sum.employment_in_2012 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative employment growth from 2013-2022
                                </td>
                                <td>
                                        {{ sum.employment_growth_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative Retirements from 2013-2022
                                </td>
                                <td>
                                        {{ sum.retirements_2013_2022 }}
                                </td>
                                 </tr>
                                <tr>
                                <td>
                                        Cumulative Other replacement demand from 2013-2022
                                </td>
                                <td>
                                        {{ sum.other_replacement_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative Job Openings from all components from 2013-2022
                                </td>
                                <td>
                                        {{ sum.job_openings_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative number of school leavers from 2013-2022
                                </td>
                                <td>
                                        {{ sum.school_leavers_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative immigrants entering the labour market from 2013-2022
                                </td>
                                <td>
                                        {{ sum.immigrants_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                 <td>
                                        Cumulative job seekers from other categories from 2013-2022
                                </td>
                                <td>
                                        {{ sum.job_seekers_other_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                 <td>
                                        Cumulative number of job seekers from all components from 2013-2022
                                </td>
                                <td>
                                        {{ sum.job_seekers_all_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                 <td>
                                        Assessment of the labour market conditions in recent years
                                </td>
                                <td>
                                        {{ sum.labour_market_conditions_2010_2012 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Final Assessment of projected labour market conditions
                                </td>
                                <td>
                                        {{ sum.projected_labour_market_conditions_2013_2022 }}
                                </td>
                                </tr>

                        </table>        

                                
                </div>
        	<div class = "col-md-6">
        		<h2>Occuptions</h2>
                        <ul>
                        {% for job in subjobs %}

                                <li>
                                        {{ job }}
                                </li>
                        {% endfor %}
                        </ul>


        		
        			
        	</div>
        </div>
        <div class="row">
                <div class = col-md-4>
                        <h2>Employment</h2>
                        <canvas id="canvas0" height="450" width="600"></canvas>        

                                   
                </div>

                <div class = col-md-4>
                        <h2>Employment Growth</h2>
                         <canvas id="canvas1" height="450" width="600"></canvas>       

                                
                </div>

                <div class = col-md-4>
                        <h2>Immigration</h2>
                        <canvas id="canvas2" height="450" width="600"></canvas>        

                                   
                </div>
        </div>
        <div class="row">
                <div class = col-md-4>
                        <h2>Job Openings</h2>
                        <canvas id="canvas3" height="450" width="600"></canvas>        

                                   
                </div>

                <div class = col-md-4>
                        <h2>Job Seekers</h2>
                        <canvas id="canvas4" height="450" width="600"></canvas>        

                                   
                </div>

                <div class = col-md-4>
                        <h2>Other Replacements</h2>
                        <canvas id="canvas5" height="450" width="600"></canvas>        

                                   
                </div>
        </div>
        <div class="row">
                <div class = col-md-4>
                        <h2>Other Seekers</h2>
                        <canvas id="canvas6" height="450" width="600"></canvas>        

                                   
                </div>

                <div class = col-md-4>
                        <h2>Retirement</h2>
                        <canvas id="canvas7" height="450" width="600"></canvas>        

                                   
                </div>

                <div class = col-md-4>
                        <h2>School Leavers</h2>
                        <canvas id="canvas8" height="450" width="600"></canvas>        

                                
                </div>
        </div>
</div>
        <script src="{% static 'cofy/js/Chart.js' %}"></script>
        <script>
                var lineChartData = [
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Employment",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{employments.y2012}},{{employments.y2013}},{{employments.y2014}},{{employments.y2015}},{{employments.y2016}},{{employments.y2017}},{{employments.y2018}},{{employments.y2019}},{{employments.y2020}},{{employments.y2021}},{{employments.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Growth",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{growth.y2012}},{{growth.y2013}},{{growth.y2014}},{{growth.y2015}},{{growth.y2016}},{{growth.y2017}},{{growth.y2018}},{{growth.y2019}},{{growth.y2020}},{{growth.y2021}},{{growth.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Immigrants",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{imm.y2012}},{{imm.y2013}},{{imm.y2014}},{{imm.y2015}},{{imm.y2016}},{{imm.y2017}},{{imm.y2018}},{{imm.y2019}},{{imm.y2020}},{{imm.y2021}},{{imm.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Job Openings",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{openings.y2012}},{{openings.y2013}},{{openings.y2014}},{{openings.y2015}},{{openings.y2016}},{{openings.y2017}},{{openings.y2018}},{{openings.y2019}},{{openings.y2020}},{{openings.y2021}},{{openings.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Job seekers",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{seekers.y2012}},{{seekers.y2013}},{{seekers.y2014}},{{seekers.y2015}},{{seekers.y2016}},{{seekers.y2017}},{{seekers.y2018}},{{seekers.y2019}},{{seekers.y2020}},{{seekers.y2021}},{{seekers.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Other Replacements",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{otherReplacements.y2012}},{{otherReplacements.y2013}},{{otherReplacements.y2014}},{{otherReplacements.y2015}},{{otherReplacements.y2016}},{{otherReplacements.y2017}},{{otherReplacements.y2018}},{{otherReplacements.y2019}},{{otherReplacements.y2020}},{{otherReplacements.y2021}},{{otherReplacements.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Other Seekers",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{otherSeekers.y2012}},{{otherSeekers.y2013}},{{otherSeekers.y2014}},{{otherSeekers.y2015}},{{otherSeekers.y2016}},{{otherSeekers.y2017}},{{otherSeekers.y2018}},{{otherSeekers.y2019}},{{otherSeekers.y2020}},{{otherSeekers.y2021}},{{otherSeekers.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "Retirement",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{retire.y2012}},{{retire.y2013}},{{retire.y2014}},{{retire.y2015}},{{retire.y2016}},{{retire.y2017}},{{retire.y2018}},{{retire.y2019}},{{retire.y2020}},{{retire.y2021}},{{retire.y2022}}]
                                }
                        ]

                },
                {
                        labels : ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"],
                        datasets : [
                                {
                                        label: "School Leavers",
                                        fillColor : "rgba(180,0,0,0.2)",
                                        strokeColor : "rgba(180,0,0,1)",
                                        pointColor : "rgba(180,0,0,1)",
                                        pointStrokeColor : "#fff",
                                        pointHighlightFill : "#fff",
                                        pointHighlightStroke : "rgba(180,0,0,1)",
                                        data : [{{schoolLeavers.y2012}},{{schoolLeavers.y2013}},{{schoolLeavers.y2014}},{{schoolLeavers.y2015}},{{schoolLeavers.y2016}},{{schoolLeavers.y2017}},{{schoolLeavers.y2018}},{{schoolLeavers.y2019}},{{schoolLeavers.y2020}},{{schoolLeavers.y2021}},{{schoolLeavers.y2022}}]
                                }
                        ]

                }

                ]
                window.onload = function(){
                        var ctx = [];
                        for (i = 0; i < 9; i++)
                        {
                                var canvasname = "canvas" + i;
                                //console.log(canvasname);
                                ctx[i] = document.getElementById(canvasname).getContext("2d");
                        }

                        for (i = 0; i < 9; i++)
                        {
                                window.myLine = new Chart(ctx[i]).Line(lineChartData[i], {
                                        responsive: true
                                });
                        }
                        
 
                };

        </script>



{% endblock %}
