{% extends 'cofy/base.html' %}
{% load static %}

{% block title %}{{ og.occupational_grouping }}{% endblock %}

{% block cssfiles %}<link href="{% static 'cofy/css/job.css' %}"  rel="stylesheet">{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>{{ og.occupational_grouping }}</h1>
<p>Projections from 2012 to 2022</p>
</div>
<div id="disclaimer">
	<em>All the following data is in the thousands, e.g 0.8 is equal to 800</em>
</div>
<div id="stats">
        <div class="row"> 
                <div class="col-md-6">
                        <h3>Summary of projections</h3>
                        <table class="table table-hover">
                                <tr>
                                <td>
                                        Employment in 2012
                                </td>
                                <td>
                                        {{ jobSummary.employment_in_2012 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative employment growth from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.employment_growth_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative Retirements from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.retirements_2013_2022 }}
                                </td>
                                 </tr>
                                <tr>
                                <td>
                                        Cumulative Other replacement demand from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.other_replacement_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative Job Openings from all components from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.job_openings_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative number of school leavers from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.school_leavers_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Cumulative immigrants entering the labour market from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.immigrants_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                 <td>
                                        Cumulative job seekers from other categories from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.job_seekers_other_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                 <td>
                                        Cumulative number of job seekers from all components from 2013-2022
                                </td>
                                <td>
                                        {{ jobSummary.job_seekers_all_2013_2022 }}
                                </td>
                                </tr>
                                <tr>
                                 <td>
                                        Assessment of the labour market conditions in recent years
                                </td>
                                <td>
                                        {{ jobSummary.labour_market_conditions_2010_2012 }}
                                </td>
                                </tr>
                                <tr>
                                <td>
                                        Final Assessment of projected labour market conditions
                                </td>
                                <td>
                                        {{ jobSummary.projected_labour_market_conditions_2013_2022 }}
                                </td>
                                </tr>

                        </table>        

                                
                </div>
        	<div class = "col-md-6">
        		<h3>Occuptions</h3>
                    <ul>
                        {% for job in subjobs %}
                            <li>
                                {{ job }}
                            </li>
                        {% endfor %}
                    </ul>
                <select class="form-control" onchange="generateChart()">
                    <option value="employment">Annual Employment Projections</option>
                    <option value="growth">Employment Growth Projections</option>
                    <option value="immigration">Immigrant Job Seekers</option>
                    <option value="openings">Job Openings</option>
                    <option value="seekers">All Job Seekers</option>
                    <option value="otherReplacements">Job Openings Due To Replacement</option>
                    <option value="otherSeekers">Other Seekers</option>
                    <option value="retirement">Retirement Rates</option>
                    <option value="schoolLeavers">School Leavers Seeking Jobs</option>
                </select>
                <!--TODO: find a way to make this chart stay a fixed size and not get changed by the JS -->
                <canvas id="canvas" height="450" width="600"></canvas> 
        	</div>
        </div>
        
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'cofy/js/Chart.js' %}"></script>
<script type="text/javascript"> var jobData = {{ jobData }};</script>
<script src="{% static 'cofy/js/job.js' %}"></script>



{% endblock %}

