{% extends 'cofy/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cofy/joblist.css' %}" />

{% endblock %}
{% block title %}Job List{% endblock %}

{% block content %}
<div class="jumbotron"><h1>Occupation List</h1>
    <p>Your career begins with your first decision, so explore all the career opportunites in Canada</p>
</div>
<div class="container">
	<div id="joblist">
		{% if not jobs %}
			<p>Sorry there are no occupations at the moment</p>
		{% endif %}
		<ul>
			{% for job in jobs %}
				<li>
					<a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
