{% extends 'cofy/base.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'cofy/css/joblist.css' %}" />
{% endblock %}
{% block title %}Job List{% endblock %}

{% block content %}
<div class="jumbotron"><h1>Occupation List</h1>
    <p>Your career begins with your first decision, so explore all the career opportunites in Canada</p>
</div>
<div id="az">
        <a href="#a">A</a> - <a href="#b">B</a> - <a href="#c">C</a> - <a href="#d">D</a> - 
	<a href="#e">E</a> - <a href="#f">F</a> - <a href="#g">G</a> - <a href="#h">H</a> - 
        <a href="#i">I</a> - <a href="#j">J</a> - <a href="#k">K</a> - <a href="#l">L</a> - 
        <a href="#m">M</a> - <a href="#n">N</a> - <a href="#o">O</a> - <a href="#p">P</a> - 
        <a href="#q">Q</a> - <a href="#r">R</a> - <a href="#s">S</a> - <a href="#t">T</a> - 
        <a href="#u">U</a> - <a href="#v">V</a> - <a href="#w">W</a> - <a href="#x">X</a> - 
        <a href="#y">Y</a> - <a href="#z">Z</a>
</div>
<div class="container">
	<div id="joblist">
        <h3><a name="a">A</a></h3>
			<ul class="list-group">
					{% for job in a %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="b">B</a></h3>
            <ul class="list-group">
                    {% for job in b %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>

            <h3><a name="c">C</a></h3>
            <ul class="list-group">
                    {% for job in c %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="d">D</a></h3>
            <ul class="list-group">
                    {% for job in d %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="e">E</a></h3>
            <ul class="list-group">
                    {% for job in e %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="f">F</a></h3>
            <ul class="list-group">
                    {% for job in f %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="g">G</a></h3>
            <ul class="list-group">
                    {% for job in g %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="h">H</a></h3>
            <ul class="list-group">
                    {% for job in H %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="i">I</a></h3>
            <ul class="list-group">
                    {% for job in i %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="j">J</a></h3>
            <ul class="list-group">
                    {% for job in j %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="k">K</a></h3>
            <ul class="list-group">
                    {% for job in k %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="l">L</a></h3>
            <ul class="list-group">
                    {% for job in l %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="m">M</a></h3>
            <ul class="list-group">
                    {% for job in m %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="n">N</a></h3>
            <ul class="list-group">
                    {% for job in n %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="o">O</a></h3>
            <ul class="list-group">
                    {% for job in o %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="p">P</a></h3>
            <ul class="list-group">
                    {% for job in p %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="q">Q</a></h3>
            <ul class="list-group">
                    {% for job in q %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="r">R</a></h3>
            <ul class="list-group">
                    {% for job in r %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="s">S</a></h3>
            <ul class="list-group">
                    {% for job in s %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="t">T</a></h3>
            <ul class="list-group">
                    {% for job in t %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="u">U</a></h3>
            <ul class="list-group">
                    {% for job in u %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="v">V</a></h3>
            <ul class="list-group">
                    {% for job in v %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="w">W</a></h3>
            <ul class="list-group">
                    {% for job in w %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="x">X</a></h3>
            <ul class="list-group">
                    {% for job in x %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="y">Y</a></h3>
            <ul class="list-group">
                    {% for job in y %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
            <h3><a name="z">Z</a></h3>
            <ul class="list-group">
                    {% for job in z %}
                            <li class="list-group-item">
                                    <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                            </li>
                    {% endfor %}
            </ul>
	</div>
</div>
{% endblock %}
