{% extends 'cofy/base.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'cofy/css/joblist.css' %}" />
{% endblock %}
{% block title %}Job List{% endblock %}

{% block content %}
<div class="jumbotron"><h1>Occupation List</h1>
    <p>Your career begins with your first decision, so explore all the career opportunites in Canada</p>
</div>
<div id="az">
        <a href="#a">A</a> - <a href="#b">B</a> - <a href="#c">C</a> - <a href="#d">D</a> - 
	<a href="#e">E</a> - <a href="#f">F</a> - <a href="#g">G</a> - <a href="#h">H</a> - 
        <a href="#i">I</a> - <a href="#j">J</a> - <a href="#k">K</a> - <a href="#l">L</a> - 
        <a href="#m">M</a> - <a href="#n">N</a> - <a href="#o">O</a> - <a href="#p">P</a> - 
        <a href="#q">Q</a> - <a href="#r">R</a> - <a href="#s">S</a> - <a href="#t">T</a> - 
        <a href="#u">U</a> - <a href="#v">V</a> - <a href="#w">W</a> - <a href="#x">X</a> - 
        <a href="#y">Y</a> - <a href="#z">Z</a>
</div>
<div class="container">
	<div id="joblist">
		<a name="a">A</a>
		<ul>
			{% for job in a %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="b">B</a>
                <ul>
                        {% for job in b %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>

                <a name="c">C</a>
                <ul>
                        {% for job in c %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="d">D</a>
                <ul>
                        {% for job in d %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="e">E</a>
                <ul>
                        {% for job in e %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="f">F</a>
                <ul>
                        {% for job in f %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="g">G</a>
                <ul>
                        {% for job in g %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="h">H</a>
                <ul>
                        {% for job in H %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="i">I</a>
                <ul>
                        {% for job in i %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="j">J</a>
                <ul>
                        {% for job in j %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="k">K</a>
                <ul>
                        {% for job in k %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="l">L</a>
                <ul>
                        {% for job in l %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="m">M</a>
                <ul>
                        {% for job in m %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="n">N</a>
                <ul>
                        {% for job in n %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="o">O</a>
                <ul>
                        {% for job in o %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="p">P</a>
                <ul>
                        {% for job in p %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="q">Q</a>
                <ul>
                        {% for job in q %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="r">R</a>
                <ul>
                        {% for job in r %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="s">S</a>
                <ul>
                        {% for job in s %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="t">T</a>
                <ul>
                        {% for job in t %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="u">U</a>
                <ul>
                        {% for job in u %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="v">V</a>
                <ul>
                        {% for job in v %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="w">W</a>
                <ul>
                        {% for job in w %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="x">X</a>
                <ul>
                        {% for job in x %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="y">Y</a>
                <ul>
                        {% for job in y %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
                <a name="z">Z</a>
                <ul>
                        {% for job in z %}
                                <li>
                                        <a href = "/job/{{ job.noc }}/">{{ job.occupational_grouping }}</a>
                                </li>
                        {% endfor %}
                </ul>
	</div>
</div>
{% endblock %}
