body{
background-image: url("../images/about_bg.jpg");
height: 1152px;
}

.jumbotron{
background:rgba(70,70,70,0.5);
color:rgb(240,240,240);
}

.container{
background:rgba(70,70,70,0.5);
color:rgb(240,240,240);
}
